@model NGM.OpenAuthentication.ViewModels.AdminIndexViewModel
@using Orchard.Utility.Extensions;
@using NGM.OpenAuthentication.Models;
@using NGM.OpenAuthentication.ViewModels;

<h1>@Html.TitleForPage(T("Manage Associated Accounts").ToString())</h1>
@using (Html.BeginFormAntiForgeryPost()) { 
    @Html.ValidationSummary() 
    <fieldset class="bulk-actions">
        <label for="publishActions">@T("Actions:")</label>
        <select id="publishActions" name="@Html.NameOf(m => m.Options.BulkAction)">
            @Html.SelectOption(Model.Options.BulkAction, AdminBulkAction.None, T("Choose action...").ToString())
            @Html.SelectOption(Model.Options.BulkAction, AdminBulkAction.Delete, T("Remove").ToString())
        </select>
        <button type="submit" name="submit.BulkEdit" value="@T("Apply")">@T("Apply")</button>
    </fieldset>
    <div class="manage">
        @Html.ActionLink(T("Add an account").ToString(), "Create", new { returnUrl = Context.Request.RawUrl }, new { @class = "button primaryAction" })
    </div>
    <fieldset>
        <table class="items" summary="@T("This is a table of external accounts associated with your logon")">
	        <colgroup>
		        <col id="Col1" />
		        <col id="Col2" />
		        <col id="Col3" />
	        </colgroup>
	        <thead>
		        <tr>
			        <th scope="col">&nbsp;&darr;</th>
			        <th scope="col">@T("Account")</th>
			        <th scope="col"></th>
		        </tr>
	        </thead>    
            @{var accountIndex = 0;}
            @foreach (var accountModel in Model.Accounts) {
            <tr itemscope="itemscope" itemid="@Model.Accounts[accountIndex].Account.ExternalIdentifier">
                <input type="hidden" value="@Model.Accounts[accountIndex].Account.UserId" name="@Html.NameOf(m => m.Accounts[accountIndex].Account.UserId)"/>
                <td>
                    <input type="hidden" value="@Model.Accounts[accountIndex].Account.ExternalIdentifier" name="@Html.NameOf(m => m.Accounts[accountIndex].Account.ExternalIdentifier)"/>
                    <input type="checkbox" value="true" name="@Html.NameOf(m => m.Accounts[accountIndex].IsChecked)"/>
                </td>
                <td>@accountModel.Account.ExternalDisplayIdentifier</td>
                <td>
                    <a href="@Url.Action("Delete", new { 
                            externalIdentifier = @Model.Accounts[accountIndex].Account.ExternalIdentifier,
                            returnUrl = Context.Request.RawUrl,
                            hashedProvider = @Model.Accounts[accountIndex].Account.HashedProvider
                        })" itemprop="RemoveUrl UnsafeUrl">@T("Remove")</a>
                </td>
	        </tr>
            }
        </table>
    </fieldset>
} 