@model NGM.OpenAuthentication.ViewModels.LogOnViewModel

<h1>@Html.TitleForPage(T("Open Id Sign In").ToString())</h1>

@using(Html.BeginForm("LogOn", "Account", FormMethod.Post, new { area = "NGM.OpenAuthentication" })) { 
    @Html.ValidationSummary() 
    <fieldset>
        <label for="OpenIdIdentifier">@T("OpenID Identifier")</label>
        @Html.TextBoxFor(m => m.OpenIdIdentifier, new { @class = "textMedium" })
    </fieldset>
    <fieldset>
		<input type="submit" class="button" value="@T("Log On")" />
		@Html.AntiForgeryTokenOrchard()
	</fieldset>
}