@model NGM.OpenAuthentication.ViewModels.LogOnViewModel

@{
    Style.Include("account.css");
	}

@Html.ValidationSummary() 

@using (Html.BeginFormAntiForgeryPost(Url.Action("LogOn", new { area = "NGM.OpenAuthentication", ReturnUrl = Request.QueryString["ReturnUrl"]}))) {
<div>
	<label for="OpenIdIdentifier">@T("Logon using an OpenID")</label>
	@Html.TextBoxFor(m => m.OpenIdIdentifier, new {@class = "textMedium", autofocus = "autofocus"})
	@Html.ValidationMessageFor(m => m.OpenIdIdentifier, "*") 
</div>
<div>
	<input type="submit" class="button" value="@T("Log On")" />
</div>
  @Html.HiddenFor(m => m.ReturnUrl)
}