@model NGM.OpenAuthentication.ViewModels.RegisterViewModel

<h1>@Html.TitleForPage(T("Register Account").ToString())</h1>
@Html.ValidationSummary() 

@using (Html.BeginFormAntiForgeryPost(Url.Action("Register", new { area = "NGM.OpenAuthentication" }))) {
  <fieldset class="login-form group">
    <legend>@T("OpenID")</legend>
    <ol>
    <li>
		<p class="header">@T("OpenID Association")</p>
		<p>Your new user account will be linked to <b><%= Model.Identifier %></b></p>
    </li>
	<li>
		<label for="Email">@T("Email")</label>
		@Html.TextBoxFor(m => m.Model.Email, new {@class = "textMedium", autofocus = "autofocus"})
		@Html.ValidationMessageFor(m => m.Model.Email, "*") 
	</li>
	<input type="submit" class="button" value="@T("Create")" />
    </ol>
  </fieldset>
  @Html.HiddenFor(m => m.Model.ReturnUrl)
}