@model NGM.OpenAuthentication.ViewModels.VerifiedAccountsViewModel

@Html.ValidationSummary() 

<table class="items" summary="@T("This is a table of the open id accounts associated with your logon")">
	<colgroup>
		<col id="Col1" />
		<col id="Col2" />
		<col id="Col3" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">&nbsp;&darr;</th>
			<th scope="col">@T("Account")</th>
			<th scope="col"></th>
		</tr>
	</thead>    
    @{var accountIndex = 0;}
    @foreach (var accountModel in Model.Accounts) {
    <tr itemscope="itemscope" itemid="@Model.Accounts[accountIndex].Id">
        <td>
            <input type="checkbox" value="false" />
        </td>      
        <td>@accountModel.Identifier</td>
        <td>
            <ul class="actions">
                <li class="construct">
                    <a href="@Url.Action("Remove", new { @Model.UserId })" title="@T("Remove")">@T("Remove")</a>
                </li>
                <li class="destruct"></li>
            </ul>
        </td>
	</tr>
    }
</table>

@if (Model.Accounts.Count() == 0) {
    <p>User has no verified OpenId accounts.</p>
}