@model NGM.OpenAuthentication.Models.OpenAuthenticationSettingsPartRecord
@using NGM.OpenAuthentication.Models;

<fieldset>
    <legend>@T("Open Authentication")</legend>
    <div>
        <div>
            @Html.EditorFor(m => m.FacebookClientIdentifier)         
            <label class="forcheckbox" for="FacebookClientIdentifier">@T("Facebook Client Identifier")</label>
        </div>
        <div>
            @Html.EditorFor(m => m.FacebookClientSecret)         
            <label class="forcheckbox" for="FacebookClientSecret">@T("Facebook Client Secret")</label>
        </div>
        <span class="hint"><a href="http://www.facebook.com/developers/apps.php">@T("Registering Your Application with Facebook.")</a></span>
    </div>
    <div>
        <div>
            @Html.EditorFor(m => m.TwitterClientIdentifier)         
            <label class="forcheckbox" for="TwitterClientIdentifier">@T("Twitter Client Identifier")</label>
        </div>
        <div>
            @Html.EditorFor(m => m.TwitterClientSecret)         
            <label class="forcheckbox" for="TwitterClientSecret">@T("Twitter Client Secret")</label>
        </div>
        <span class="hint"><a href="https://dev.twitter.com/apps">@T("Registering Your Application with Twitter.")</a></span>
    </div>
    <div>
        <div>
            @Html.EditorFor(m => m.LiveIdClientIdentifier)         
            <label class="forcheckbox" for="LiveIdClientIdentifier">@T("LiveId Identifier")</label>
        </div>
        <div>
            @Html.EditorFor(m => m.LiveIdClientSecret)       
            <label class="forcheckbox" for="LiveIdClientSecret">@T("LiveId Secret")</label>
        </div>
        <span class="hint"><a href="http://msdn.microsoft.com/en-us/library/ff751474.aspx">@T("Registering Your Application with Windows Live.")</a></span>
    </div>

    <div>
        @Html.EditorFor(m => m.AutoRegisterEnabled)         
        <label class="forcheckbox" for="AutoRegisterEnabled">@T("Enable Auto Register")</label>
    </div>
</fieldset>
@*<fieldset>
    <legend>@T("Claim Settings")</legend>
    <div>
        @Html.EditorFor(m => m.Birthdate)         
        <label class="forcheckbox" for="Birthdate">@T("Birthdate")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.Country)
        <label class="forcheckbox" for="Country">@T("Country")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.Email)
        <label class="forcheckbox" for="Email">@T("Email")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.FullName)
        <label class="forcheckbox" for="FullName">@T("FullName")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.Gender)
        <label class="forcheckbox" for="Gender">@T("Gender")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.Language)
        <label class="forcheckbox" for="Language">@T("Language")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.Nickname)
        <label class="forcheckbox" for="Nickname">@T("Nickname")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.PostalCode)
        <label class="forcheckbox" for="PostalCode">@T("PostalCode")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.TimeZone)
        <label class="forcheckbox" for="TimeZone">@T("TimeZone")</label>
    </div>
</fieldset>*@