@using Orchard;
@using Orchard.ContentManagement;
@using Orchard.Users.Models;

@Display(Model.Metadata.ChildContent)

@{
    Style.Require("Account");
    Style.Require("openIdStyles");
    
    Script.Require("jQuery");
    Script.Require("openIdSelector");
    Script.Require("openIdLocalization");
}
@using(Script.Foot()) {
<script type="text/javascript">
    $(document).ready(function () {
        openid.init('OpenIdIdentifier');
        //openid.setDemoMode(true); //Stops form submission for client javascript-only test purposes
    });
</script>
}

@if (TempData.Where(o => o.Key.StartsWith("error-")).ToArray().Count() >= 1) {
<div class="validation-summary-errors"><span>Login was unsuccessful. Please correct the errors and try again.</span>
    <ul>
        @foreach (var value in TempData.Where(o => o.Key.StartsWith("error-")).ToArray()) {
            <li>@value.Value</li>
        }
    </ul>
</div>
}

@using (Html.BeginForm("LogOn", "OpenIdAccount", new { area = "NGM.OpenAuthentication", ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { id = "openid_form" })) {
<input type="hidden" name="action" value="verify" />
<fieldset class="login-form group">
    <legend>@T("OpenID account")</legend>
    <ol>
        <li>
            <div id="openid_choice">
			    <p>Please click your account provider:</p>
				<div id="openid_btns"></div>
			</div>
        </li>
        <li>
            <div id="openid_input_area">
                <label for="OpenIdIdentifier">@T("Enter manually your OpenID")</label>
                @Html.TextBox("OpenIdIdentifier", "http://", new { id = "OpenIdIdentifier", @class = "textMedium", autofocus = "autofocus" })
                @Html.ValidationMessage("OpenIdIdentifier")
            </div>
        </li>
        <button class="primaryAction" type="submit">@T("Sign In")</button>
        @Html.AntiForgeryTokenOrchard()
    </ol>
</fieldset>
}