@using Orchard;
@using Orchard.ContentManagement;
@using Orchard.Users.Models;

@Display(Model.Metadata.ChildContent)

@if (TempData.Where(o => o.Key.StartsWith("error-")).ToArray().Count() >= 1) {
<div class="validation-summary-errors"><span>Login was unsuccessful. Please correct the errors and try again.</span>
    <ul>
        @foreach (var value in TempData.Where(o => o.Key.StartsWith("error-")).ToArray()) {
            <li>@value.Value</li>
        }
    </ul>
</div>
}

@using (Html.BeginForm("LogOn", "CardSpaceAccount", new { area = "NGM.OpenAuthentication", ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { id = "cardspace_form" })) {
<fieldset class="login-form group">
    <legend>@T("CardSpace account")</legend>
    <ol>
        <li>
            <button class="primaryAction" type="submit">
                  @Html.Image("../../Modules/NGM.OpenAuthentication/Content/cardspace/images/Infocard.png", "Sign In", null)
          
                  <object type="application/x-informationcard" name="xmlToken">
                    <param name="tokenType" value="urn:oasis:names:tc:SAML:1.0:assertion" />
                    <param name="issuer" 
                           value="http://schemas.xmlsoap.org/ws/2005/05/identity/issuer/self" />
                    <param name="requiredClaims" 
                         value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname
                                http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname
                                http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress
                                http://schemas.xmlsoap.org/ws/2005/05/identity/claims/streetaddress
                                http://schemas.xmlsoap.org/ws/2005/05/identity/claims/locality
                                http://schemas.xmlsoap.org/ws/2005/05/identity/claims/stateorprovince
                                http://schemas.xmlsoap.org/ws/2005/05/identity/claims/country
                                http://schemas.xmlsoap.org/ws/2005/05/identity/claims/postalcode
                                http://schemas.xmlsoap.org/ws/2005/05/identity/claims/privatepersonalidentifier" />
                  </object>
              </button>
          </li>
        @Html.AntiForgeryTokenOrchard()
    </ol>
</fieldset>
}