@using Orchard;
@using Orchard.ContentManagement;
@using Orchard.Users.Models;

@Display(Model.Metadata.ChildContent)

@{
    Style.Require("Account");
}

@if (TempData.Where(o => o.Key.StartsWith("error-")).ToArray().Count() >= 1) {
<div class="validation-summary-errors"><span>Login was unsuccessful. Please correct the errors and try again.</span>
    <ul>
        @foreach (var value in TempData.Where(o => o.Key.StartsWith("error-")).ToArray()) {
            <li>@value.Value</li>
        }
    </ul>
</div>
}

<fieldset class="login-form group">
    <legend>@T("OAuth account")</legend>
    <ol>
        <li>
            <div id="oauth_input_area">
                <a href="@Url.Action("LogOn", "OAuthAccount", new { area = "NGM.OpenAuthentication", ReturnUrl = Request.QueryString["ReturnUrl"], KnownProvider = "Twitter" })">
                    @Html.Image("../../Modules/NGM.OpenAuthentication/Content/oauth/images/twitter-logo.jpg", "Twitter", new { @Class = "oauth_btn openid_large_btn" })
                </a>
            </div>
        </li>
    </ol>
</fieldset>