@using Orchard;
@using Orchard.ContentManagement;
@using Orchard.Users.Models;

@Display(Model.Metadata.ChildContent)

@{
    Style.Require("Account");
    Style.Require("openIdStyles");
    
    Script.Require("jQuery");
    Script.Require("openIdSelector");
    Script.Require("openIdLocalization");
}
@using(Script.Foot()) {
<script type="text/javascript">
    $(document).ready(function () {
        openid.setSignInText('Sign In');
        openid.init('ExternalIdentifier');
        //openid.setDemoMode(true); //Stops form submission for client javascript-only test purposes
    });
</script>
}

@using (Html.BeginForm("LogOn", "OpenIdAccount", new { area = "NGM.OpenAuthentication", ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { id = "openid_form" })) {
<input type="hidden" name="action" value="verify" />
<fieldset class="login-form group">
    <legend>@T("OpenID account")</legend>
    <ol>
        <li>
            <div id="openid_choice">
			    <p>Please click your account provider:</p>
				<div id="openid_btns"></div>
			</div>
        </li>
        <li>
            <div id="openid_input_area">
                <label for="ExternalIdentifier">@T("Enter manually your OpenID")</label>
                @Html.TextBox("ExternalIdentifier", "http://", new { id = "ExternalIdentifier", @class = "textMedium", autofocus = "autofocus" })
                @Html.ValidationMessage("ExternalIdentifier")
                <button class="primaryAction" type="submit">@T("Sign In")</button>
            </div>
        </li>
        @Html.AntiForgeryTokenOrchard()
    </ol>
</fieldset>
}