@model NGM.OpenAuthentication.ViewModels.AdminIndexViewModel
@using Orchard.Utility.Extensions;

@{var index = 0;}
<fieldset>
    <legend>Associated OpenID Accounts</legend>
        <ol>
        @foreach (var entry in Model.Accounts) {
            <li>
                @entry.Account.ExternalDisplayIdentifier
                
                <a href="@Url.Action("Delete", new { area = "NGM.OpenAuthentication", externalIdentifier = @Model.Accounts[index].Account.ExternalIdentifier, hashedProvider = @Model.Accounts[index].Account.HashedProvider, returnUrl = Context.Request.RawUrl })" itemprop="RemoveUrl UnsafeUrl">@T("Remove")</a>
            </li>
            index++;
        }
        </ol>
</fieldset>