@model NGM.OpenAuthentication.ViewModels.IndexViewModel

@Html.ValidationSummary() 
<fieldset>
    <legend>Associated OpenID Accounts</legend>
    @if (Model.Accounts.Count > 0) {
        var index = 0;
        foreach (var entry in Model.Accounts) {
            @Html.Hidden("Accounts[" + index + "].Account.FriendlyIdentifierForDisplay", entry.Account.FriendlyIdentifierForDisplay)

    <div>
        @Html.CheckBox("Accounts[" + index + "].IsChecked", entry.IsChecked)
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.Accounts[index].Account.FriendlyIdentifierForDisplay)">@entry.Account.FriendlyIdentifierForDisplay</label>
    </div>
            index++;
        }
    } else {
    <p>@T("There are no OpenID accounts.")</p>
    }
</fieldset>