@model NGM.OpenAuthentication.Models.OpenAuthenticationSettingsPartRecord
@using NGM.OpenAuthentication.Models;

<fieldset>
    <legend>@T("Open ID")</legend>
    <div>
        @Html.EditorFor(m => m.Birthdate)         
        <label class="forcheckbox" for="Birthdate">@T("Birthdate")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.Country)
        <label class="forcheckbox" for="Country">@T("Country")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.Email)
        <label class="forcheckbox" for="Email">@T("Email")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.FullName)
        <label class="forcheckbox" for="FullName">@T("FullName")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.Gender)
        <label class="forcheckbox" for="Gender">@T("Gender")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.Language)
        <label class="forcheckbox" for="Language">@T("Language")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.Nickname)
        <label class="forcheckbox" for="Nickname">@T("Nickname")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.PostalCode)
        <label class="forcheckbox" for="PostalCode">@T("PostalCode")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.TimeZone)
        <label class="forcheckbox" for="TimeZone">@T("TimeZone")</label>
    </div>
</fieldset>